{% extends '@VilniusPHPCore/layout_full.html.twig' %}

{% block body -%}
    <h1>Books list</h1>

    {% for entity in entities %}
    <div>
        <h2>
            <a href="{{ path('books_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a>
        </h2>
        by <strong>{{ entity.author }}</strong>
        {% if is_expr_granted("hasRole('USER_ADMIN')") %}
        <ul>
            <li>
                <a href="{{ path('books_show', { 'slug': entity.slug }) }}">show</a>
            </li>
            <li>
                <a href="{{ path('books_edit', { 'id': entity.id }) }}">edit</a>
            </li>
        </ul>
        {% endif %}
    </div>
    {% endfor %}

    {% if is_expr_granted("hasRole('USER_ADMIN')") %}
    <ul>
        <li>
            <a href="{{ path('books_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endif %}
    {% endblock %}
