<div class="event">
    <h3>{{ event.name }}</h3>
    <b>{{ event.date|date('Y-m-d H:i') }}</b>

    <br>
    {% if key == 0 %}
        {% if event.place %}
            {{ event.place.name }}, {{ event.place.address }}
        {% else %}
            Vieta tikslinama.
        {% endif %}
    {% endif %}

    {% if event.githubUrl %}
    <a class="label label-info" href="{{ event.githubUrl }}">Medžiaga @ GitHub</a>
    {% endif %}

    <h4>Pranešėjai</h4>
    <ol> 
        {% if event.speakers|length == 0 %}
        Turi ką papasakoti? Rašyk mums!
        {% endif %}

        {% for speaker in event.speakers %}
        <li>
            <strong>{{ speaker.name }}</strong>
            {% if speaker.linkedInUrl %}
            <a href="{{ speaker.linkedInUrl }}" title="{{ speaker.name }}" target="_blank"><img src="media/img/linkedin.png" alt="" /></a>
            {% endif %}
            <br>
            {{ speaker.topic }}
        </li>
        {% endfor %}
    </ol>

    {% if event.afterparty and key == 0 %}
    <h4>After party</h4>
    <p>
        {% if event.sponsors %}
        Alumi vaišina <a href="{{ event.sponsors.0.url }}">{{ event.sponsors.0.name }}</a>.<br>
        {% endif %}

        {{ event.afterparty.name}} {{ event.afterparty.address }}
        (<a href="{{ event.afterparty.mapUrl }}" target="_blank">žemėlapis</a>).
    </p>
    {% endif %}
</div>
